<nav>
  <div class="navbar-c">
    <div class="container-c nav-container">
        <input class="checkbox" type="checkbox" name="" id="checkmenu" [(ngModel)]="showmenu" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>  
      <div class="logo">
        <h5><i class='bx bxs-dashboard bx-sm'></i> V1.0</h5>
        <!-- <i class='bx bxs-user' ></i> -->
      </div>
      <div class="menu-items" style="overflow: auto;">
        <i class='bx bxs-dashboard bx-lg' style="color: rgb(128, 0, 255);"></i>
        <div class="fw-bold fs-3 mb-4" style="color: rgb(128, 0, 255);">DASHBOARD V1.0</div>
        <li (click)="closemenu()"><a [routerLink]="'/main/home'"><i class='bx bxs-dashboard' ></i>Inicio</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/ayc-data'"><i class='bx bx-infinite'></i> AYC</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/tiempos'"><i class='bx bx-timer'></i> Tiempos</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/ventas-bebidas'"><i class='bx bx-beer'></i> Bebidas</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/mix-ventas'"><i class='bx bx-money-withdraw'></i> Mix de ventas</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/diferencias'"><i class='bx bx-expand-horizontal'></i> Diferencias</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/25pts'"><i class='bx bx-food-menu'></i> Dashboard Sucursal</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/metas'"><i class='bx bx-bullseye'></i> Metas</a></li>
        <li (click)="closemenu()"><a  [routerLink]="'/main/config'"><i class='bx bx-cog' ></i> Configuración</a></li>

        <i class='bx bx-user-circle bx-md'></i>
        <div class="">ADMIN</div>
        <div class="d-flex justify-content-center mt-3 mb-3"><button class="btn bg-p-b" style="width: 90%; max-width: 10rem;">CERRAR SESIÓN</button></div>
      </div>
    </div>
  </div>
</nav>
<p-overlayPanel #op>
  <div class="justify-content-center">
      <button class="btn bg-p-b p-3" (click)="logout()"> <i class='bx bx-log-out'></i>&nbsp;CERRAR SESIÓN</button>
  </div>
</p-overlayPanel>

