<div style="margin-top: 80px;">
    <!-- <h1 class="text-center">DASHBOARD</h1> -->
    <h3 class="text-center">
        REPORTE DE BONOS
    </h3>

    <div class="row m-0 mt-3">
        <div class="col-md-5">
            <p-calendar 
            [(ngModel)]="mes"
            view="month"
            dateFormat="mm/yy" 
            [readonlyInput]="true" 
            [maxDate]="maxDate"
            [style]="{width:'100%'}"
            />

        </div>
        <div class="col-md-5">
            <p-multiSelect 
            [options]="catsucursales" 
            [(ngModel)]="selectedSuc" 
            optionLabel="name" 
            placeholder="Seleccione una o mas sucursales"  [disabled]="catsucursales.length==0"
           [classList]="'form-control p-0'"
           [style]="{'width':'100%'}"
            />
        </div>
        <div class="col-md-2">
            <button class="btn btn-grad rounded-3 bx-burst-hover" (click)="Consultar()"><i class='bx bx-search'></i></button>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center p-3 mt-3 mb-3" *ngIf="loading">
    <app-loader></app-loader>
</div>  

<div class="mt-3 p-3" *ngIf="bonodata.length>0">

    <div class="d-flex justify-content-center gap-3 mt-3 mb-3">
        <button class="btn btn-outline-success p-2" style="min-width: 10rem;" [disabled]="loading"><img width="48" height="48" src="https://img.icons8.com/fluency/40/microsoft-excel-2019.png" alt="microsoft-excel-2019"/> EXCEL</button>    
    </div>

    <p-table [value]="matrizBono" 
    [scrollable]="true" 
    scrollHeight="50vh" 
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr class="text-center">
                <th pSortableColumn="sucursal" style="background-color: black;" pFrozenColumn>
                    Sucursal
                    <p-sortIcon field="sucursal"/>
                </th>
                <th pSortableColumn="metaVenta" style="background-color: black;">$ Meta
                    <p-sortIcon field="metaVenta"/>
                </th>
                <th pSortableColumn="ventaReal" style="background-color: black;">$ Venta
                    <p-sortIcon field="ventaReal"/>
                </th>
                <th pSortableColumn="alcance" style="background-color: black;">Alcance
                    <p-sortIcon field="alcance"/>
                </th>
                <th pSortableColumn="compras" style="background-color: black;">$ Compras
                    <p-sortIcon field="compras"/>
                </th>
                <th pSortableColumn="costo" style="background-color: black;">Costo
                    <p-sortIcon field="costo"/>
                </th>
                <th pSortableColumn="ventaAlimentosSalon" style="background-color: black;">$ Alimentos Salón
                    <p-sortIcon field="ventaAlimentosSalon"/>
                </th>
                <th pSortableColumn="ventaBebidasSalon" style="background-color: black;">$ Bebidas Salón
                    <p-sortIcon field="ventaBebidasSalon"/>
                </th>
                <th pSortableColumn="porcentajeBebidas" style="background-color: black;">% Bebidas
                    <p-sortIcon field="porcentajeBebidas"/>
                </th>
                <th pSortableColumn="porcentajehdb" style="background-color: black;">AYC HOT-DOG / BURGUER
                    <p-sortIcon field="porcentajehdb"/>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="text-center">
                <td pFrozenColumn>{{item.sucursal}}</td>
                <td>${{item.metaVenta | number : '1.2-2'}}</td>
                <td>${{item.ventaReal | number : '1.2-2'}}</td>
                <td [ngClass]="{'bg-success': item.alcance>=100,'bg-warning text-dark':item.alcance>=75 && item.alcance<100,'bg-danger':item.alcance<75}">{{item.alcance | number : '1.2-2'}}%</td>
                <td>${{item.compras | number : '1.2-2'}}</td>
                <td>{{item.costo | number : '1.2-2'}}%</td> 
                <td>${{item.ventaAlimentosSalon | number : '1.2-2'}}</td>
                <td>${{item.ventaBebidasSalon | number : '1.2-2'}}</td>
                <td [ngClass]="{'bg-danger':item.porcentajeBebidas<40,'bg-success':item.porcentajeBebidas>=40}">{{item.porcentajeBebidas | number : '1.2-2'}}%</td>
                <td [ngClass]="{'bg-danger':item.porcentajehdb<=25,'bg-success':item.porcentajehdb>25}">{{item.porcentajehdb | number : '1.2-2'}}%</td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-toast 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'500ms'" 
    [showTransformOptions]="'translateX(100%)'" />