
.circular-progress {
  position: relative;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #1e293b;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-size: medium;
  color: #e0e0e0;
}